<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.2.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">

  <context:annotation-config/>
  <!-- 自动扫描 -->
  <context:component-scan base-package="com.study.spring.mapper"/>
  <context:component-scan base-package="com.study.spring.service"/>
  <context:component-scan base-package="com.study.spring.filter"/>
  <context:component-scan base-package="com.study.spring.listener"/>


  <!-- 引入配置文件 -->
  <!--如果有多个配置需要通过<context:property-placeholder管理，一定要加上ignore-unresolvable=“true"-->
  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" id="propertyPlaceholderConfigurer">
    <property name="order" value="1"/>
    <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
    <property name="ignoreUnresolvablePlaceholders" value="true"/>
    <property name="ignoreResourceNotFound" value="true"/>
    <property name="locations">
      <list>
        <value>classpath:jdbc.properties</value>
        <value>classpath:redis.properties</value>
        <value>classpath:common.properties</value>
      </list>
    </property>
  </bean>


  <bean id="threadPoolTaskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
    <!-- 核心线程数 -->
    <property name="corePoolSize" value="${core_pool_size}" />
    <!-- 最大线程数 -->
    <property name="maxPoolSize" value="${max_pool_size}" />
    <!-- 队列最大长度 -->
    <property name="queueCapacity" value="${queue_capacity}" />
    <!-- 线程池维护线程所允许的空闲时间，默认为60s -->
    <property name="keepAliveSeconds" value="${keep_alive_seconds}" />
  </bean>


  <bean id="officeHoursInterceptor" class="com.study.spring.interceptor.TimeBasedAccessInterceptor">
    <property name="openingTime" value="9"/>
    <property name="closingTime" value="12"/>
  </bean>

  <!-- 引入同文件夹下的spring-mybatis属性配置文件 -->
  <import resource="classpath:mybatis/spring-mybatis.xml"/>
  <!--  redis config -->
  <import resource="classpath:redis/spring-redis.xml"/>
  <!-- mail config -->
  <import resource="classpath:mail/spring-mail.xml"/>
  <!-- 调度任务 -->
  <!--<import resource="classpath:quartz/spring-quartz.xml"/>-->
  <!-- spring-security -->
  <import resource="classpath:security/spring-security.xml"/>

  <import resource="classpath:state/spring-state.xml"/>

  <import resource="classpath:spring/application-aop.xml"/>


  <!--<?xml version="1.0" encoding="UTF-8"?>-->
  <!--<beans xmlns="http://www.springframework.org/schema/beans"-->
  <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
  <!--xmlns:tx="http://www.springframework.org/schema/tx"-->
  <!--xmlns:aop="http://www.springframework.org/schema/aop"-->
  <!--xmlns:p="http://www.springframework.org/schema/p"-->
  <!--xmlns:context="http://www.springframework.org/schema/context"-->
  <!--xmlns:mvc="http://www.springframework.org/schema/mvc"-->
  <!--xsi:schemaLocation="http://www.springframework.org/schema/beans-->
  <!--http://www.springframework.org/schema/beans/spring-beans-4.2.xsd-->
  <!--http://www.springframework.org/schema/context-->
  <!--http://www.springframework.org/schema/context/spring-context-4.2.xsd-->
  <!--http://www.springframework.org/schema/tx-->
  <!--http://www.springframework.org/schema/tx/spring-tx-4.2.xsd-->
  <!--http://www.springframework.org/schema/aop-->
  <!--http://www.springframework.org/schema/aop/spring-aop-4.2.xsd-->
  <!--http://www.springframework.org/schema/mvc-->
  <!--http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">-->

</beans>

