.DS_Store
spring-web/logs/*
spring-boot-web/logs/*
spring-boot-sso/logs/*
spring-cloud-eureka/logs/*
.settings
.project
.idea
**/.settings
**/.classpath
**/.eclipse
**/.project
**/target
**/bin
.idea/workspace.xml
MANIFEST.MF