<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <settings>
    <setting name="lazyLoadingEnabled" value="true"/>
    <setting name="defaultStatementTimeout" value="3000"/>
  </settings>


  <typeAliases>
    <!--<typeAlias alias="user" type="com.po.User"></typeAlias>-->
    <!--<typeAlias alias="fruit" type="com.liu.po.Fruit"/>-->
    <!--也可以简化为这种方式-->
    <package name="com.study.database.table.entity"/>
  </typeAliases>

  <!-- 配置枚举类型 -->
  <!--<typeHandlers>-->
    <!--<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.study.spring.entity.Sex"/>-->
  <!--</typeHandlers>-->

  <mappers>
    <!--<mapper resource="com/mapper/userMapper.xml"/>-->
    <!--<mapper resource="classpath:mapper/*.xml"/>-->

    <mapper resource="mapper/receiptMapper.xml"/>
    <!--<mapper resource="mapper/fruitMapper.xml"/>-->
    <!--<mapper resource="mapper/lectureMapper.xml"/>-->
    <!--<mapper resource="mapper/studentLectureMapper.xml"/>-->
    <!--<mapper resource="mapper/studentMapper.xml"/>-->
    <!--<mapper resource="mapper/studentSelfCardMapper.xml"/>-->
    <!--<mapper resource="mapper/userMapper.xml"/>-->

    <!-- 需要将mapper接口类名和mapper.xml映射文件名称保持一致且在同一个目录中，要使用的是mapper代理 -->
    <!--<package name="com.liu.mapper"/>-->
  </mappers>


</configuration>