<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.spring.mapper.FruitDao">

  <resultMap id="fruitMap" type="com.study.spring.po.Fruit">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="price" property="price"/>
    <result column="weight" property="weight"/>
  </resultMap>

  <select id="getFruitById" parameterType="java.lang.Integer" resultMap="fruitMap">
    SELECT name, price, weight FROM fruit WHERE id = #{id}
  </select>

  <select id="findFruitsByPrice" parameterType="java.math.BigDecimal" resultMap="fruitMap">
    SELECT name, price, weight FROM fruit WHERE price = #{price}
  </select>

  <insert id="saveFruit" parameterType="com.study.spring.po.Fruit">
    INSERT INTO fruit(name, price, weight) VALUES (#{name}, #{price}, #{weight})
  </insert>

  <delete id="deleteFruit" parameterType="java.lang.Integer">
    DELETE FROM fruit WHERE id = #{id}
  </delete>


</mapper>