<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.springframework.org/schema/beans"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">


  <!--  actionItems -->
  <bean class="com.study.spring.state.actionitem.InitOrder" id="initOrder"/>
  <bean class="com.study.spring.state.actionitem.WaitOrder" id="waitOrder"/>
  <bean class="com.study.spring.state.actionitem.FinishOrder" id="finishOrder"/>
  <bean class="com.study.spring.state.actionitem.CloseOrder" id="closeOrder"/>



  <!-- actionItemRegistry -->
  <bean class="com.study.spring.state.action.ActionItemRegistryImpl" id="actionItemRegistry">
    <property name="actionItemMap">
      <map>
        <entry key="initOrder" value-ref="initOrder"/>
        <entry key="waitOrder" value-ref="waitOrder"/>
        <entry key="finishOrder" value-ref="finishOrder"/>
        <entry key="closeOrder" value-ref="closeOrder"/>
      </map>
    </property>
  </bean>



  <!-- runtime -->
  <bean id="stateNodeFetcher" class="com.study.spring.state.runtime.StateNodeFetcherImpl"/>
  <bean id="stateNodeExecutor" class="com.study.spring.state.runtime.StateNodeExecutorImpl"/>
  <bean id="actionConditionExecutor" class="com.study.spring.state.runtime.ActionConditionExecutorImpl"/>
  <bean id="normalAction" class="com.study.spring.state.action.NormalAction"/>
  <bean id="stateMachine" class="com.study.spring.state.runtime.StateMachineImpl"/>

</beans>
